.Login {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #ebebff;
}
.Login .login-container {
  display: grid;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.2);
  width: 85vw;
  max-width: 400px;
  background-color: white;
}

.Login .title {
  text-align: center;
  margin-bottom: 20px;
}

.Login .input-field {
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1.5px solid rgba(164, 163, 163, 0.727);
  font-size: 1.1rem;
}

.Login .button {
  height: 40px;
  margin-top: 20px;
  border: none;
  background-color: black;
  color: white;
}

.Login .button:hover {
  background-color: blue;
}

.Login .primary-btn {
  background-color: #38803e;
}
.Login .secondary-btn {
  background-color: white;
  color: black;
  border: solid 1px black;
}
