.RecipeInfo .recipe {
  display: grid;
  justify-content: center;
}

.RecipeInfo h1 {
  text-align: center;
  margin-bottom: 30px;
}

.RecipeInfo .recipe h3 {
  text-align: center;
}
.RecipeInfo .ingredients-container {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 20px;
}
.RecipeInfo .ingredients-container h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.RecipeInfo .image-container img {
  object-fit: cover;
  width: 100vw;
  height: 225px;
}

.RecipeInfo .image-container .placeholder-image {
  object-fit: fill;
}

.RecipeInfo .instructions-list {
  margin-top: 50px;
}

/* //////////  NutritionInfo CSS   //////////////  */
.NutritionInfo .nutrition-container {
  width: 320px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

.NutritionInfo .nutrition-container #title {
  text-align: center;
  font-size: 2rem;
  border-bottom: 3px solid black;
  padding-bottom: 1rem;
  margin-bottom: 1.2rem;
}

.NutritionInfo .primary-nutrient {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  margin-bottom: 1rem;
}

.NutritionInfo .description {
  display: flex;
  justify-content: space-between;
}

.NutritionInfo .description p {
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
}

.NutritionInfo .secondary-nutrient {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(174, 172, 172, 0.516);
  padding-top: 5px;
}
.NutritionInfo .nutrient-amount {
  display: flex;
}

.NutritionInfo .secondary-nutrient .title {
  font-weight: bold;
}

.NutritionInfo .secondary-nutrient .amount {
  margin-left: 3px;
}

.NutritionInfo .secondary-nutrient .percent {
  font-weight: bold;
}

.NutritionInfo .tertiary-nutrient {
  display: flex;
  justify-content: space-between;

  border-top: 1px solid rgba(174, 172, 172, 0.516);
  padding-top: 5px;
}

.NutritionInfo .tertiary-nutrient .title {
  margin-left: 20px;
}

.NutritionInfo .tertiary-nutrient .amount {
  margin-left: 3px;
}
.NutritionInfo .tertiary-nutrient .percent {
  font-weight: bold;
}

@media (min-width: 700px) {
  .RecipeInfo .recipe {
    display: grid;
    grid-template-areas:
      "image image"
      "title title"
      "ingredients nutrition"
      "instructions nutrition";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .RecipeInfo .recipe-noNutrition {
    display: grid;
    grid-template-areas:
      "image "
      "title "
      "ingredients "
      "instructions ";
    grid-template-columns: auto;
    grid-template-rows: auto;
  }

  .RecipeInfo .image-container {
    grid-area: image;
  }
  .RecipeInfo h1 {
    grid-area: title;
  }
  .RecipeInfo .ingredients-container {
    grid-area: ingredients;
    max-width: 500px;
  }

  .RecipeInfo .instructions-list {
    grid-area: instructions;
    max-width: 500px;
    margin-right: 30px;
  }
  .RecipeInfo .NutritionInfo {
    grid-area: nutrition;
    margin-right: 30px;
  }
  .RecipeInfo .NutritionInfo .nutrition-container {
    margin-top: 10px;
  }
}

@media (min-width: 900px) {
  .RecipeInfo .ingredients-container {
    margin-left: 10%;
  }

  .RecipeInfo .instructions-list {
    margin-left: 10%;
  }

  .RecipeInfo .recipe-noNutrition .ingredients-container {
    margin-left: 32.5%;
  }
  .RecipeInfo .recipe-noNutrition .instructions-list {
    margin-left: 32.5%;
  }
}

@media (min-width: 1200px) {
  .RecipeInfo .ingredients-container {
    margin-left: 20%;
  }

  .RecipeInfo .instructions-list {
    margin-left: 20%;
  }
}
