/* Styling for CARDSLIST*/
.CardsList h1 {
  font-family: Paytone One;
  margin: 15px;
}

.CardsList #list-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.CardsList .card {
  margin-bottom: 20px;
  cursor: pointer;
}
.CardsList .card:hover {
  background-color: #38803e;
}

.CardsList .card-img-top {
  height: 160px;
  border-bottom: 1px solid #80808047;
  object-fit: cover;
}

.CardsList .card-text {
  font-weight: bold;
}

.CardsList .placeholder-image {
  object-fit: contain;
}

@media (min-width: 600px) {
  .CardsList {
    margin: 40px 10%;
  }
  .CardsList .card {
    margin: 20px 20px;
  }
}

@media (max-width: 820px) {
  .CardsList #list-cards {
    padding-left: 10%;
  }
}
