/* Styling for CARDSLIST*/
.CardsList .card {
  margin-bottom: 20px;
  cursor: pointer;
}
.CardsList .card:hover {
  background-color: #38803e;
}

.CardsList .card-img-top {
  height: 160px;
  border-bottom: 1px solid #80808047;
  object-fit: cover;
}

.CardsList .card-text {
  font-weight: bold;
}

.CardsList .placeholder-image {
  object-fit: contain;
}

@media (min-width: 600px) {
  .CardsList {
    margin: 40px 10%;
  }
  .CardsList .card {
    margin: 20px 20px;
  }
}
