.History h1 {
  margin: 40px 0;
}

.History ul {
  padding: 0;
  margin: 0;
  height: 500px;
  overflow: auto;
}

.History #recipe-search {
  margin-left: 5px;
  font-size: 1.3rem;
  width: 400px;
  margin-bottom: 20px;
}

.History .history-list-item {
  list-style: none;
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgba(174, 174, 174, 0.684);
  padding: 5px 0;
  cursor: pointer;
}
.History .history-list-item:hover {
  background-color: #38803e;
}

.History .history-list-item h4 {
  display: flex;
  align-items: center;
}
.History .history-list-item .image-container {
  margin-right: 10px;
}

.History .history-list-item .list-item-image {
  object-fit: cover;
  width: 70px;
  height: 70px;
}

@media (min-width: 600px) {
  .History {
    margin: 0 10%;
  }
}
